html, body {
    height: 100%;
    background-color: black;
}

body {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

img {
    height: 50%;
    width: 100%;
    object-fit: contain;
    display: block;
}

.profile-pic {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: 0;
}

.profile-icon {
    width: 50px;
    height: 50px;
    display: inline-block;
    padding: 0;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: dodgerblue;
    width: 100%;
    height: 60px;
    position: relative;
}

.header-buttons {
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 100%;
}

.text-buttons {
    margin-top: 25px;
}

.text-box {
    margin-left: 25px;
}

.absolute {
    position: absolute;
}

.button-tab {
    background-color: royalblue;
    margin-right: 10px;
}

.profile {
    margin: auto;
}

.hidden {
    display: none;
}

.content {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.filter {
    background-color: skyblue;
    height: 300px;
    margin-left: 10%;
    margin-top: 50px;
}

.select {
    display: flex;
    flex-direction: column;
    margin: 5;
}

.center {
    text-align: center;
}

.match-list {
    width: 75%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: scroll;
    margin-top: 10px;
}

.matches {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 300px;
    height: 600px;
    background-color: teal;
}

.description-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.match-pic {
    width: 300px;
    height: 400px;
    margin: auto;
    background-color: darkblue;
}

.name {
    margin-left: 10px;
}

.red {
    color: red;
    background-color: darkred;
    text-align: center;
    font-size: 150%;
}

.black {
    color: white;
    background-color: black;
    font-size: 150%;
}

.none {
    display: none;
}

.show {
    display: inline;
}

.circle {
    display:block;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    font-weight: bold;
}
@media only screen and (max-width : 640px) {
	.filter {
        display: none;
        background-color: none;
        align-self: center;
        z-index: 10;
        position: absolute;
    }

    .hidden {
        display: flex;
        justify-content: space-around;
        align-content: center;
        width: 100%;
    }

    .none {
        display: inline;
    }

    .name {
        font-size: 12px;
        margin-top: 5px;
    }

    .text-buttons {
        margin-top: 5px;
        align-content: center;
    }

    .button-tab {
        margin-left: 10px;
    }

    .content {
        flex-direction: column;
    }

    .matches {
        width: 100%;
    }

    .match-list {
        width: 100%;
    }
}
